[build]
  base = "client"
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_BASE = "https://your-api.onrender.com/api"
  VITE_RECAPTCHA_SITE_KEY = "6Lcg2D4sAAAAAPadVQ3DtJzFjb4kwy_qtTsyyeIP"
  VITE_GOOGLE_MAPS_API_KEY = ""
